.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #aaa;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.modal-title {
  margin: 0;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

label {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.modal-close-btn {
  width: 20px;
  height: 20px;
  background-color: #cc0022;
  border: 1px solid black;
  padding: 2px;
}

.modal-close-btn:hover {
  background-color: #ff0000;
  border: 1px solid black;
}
