.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
  border: 1px solid black;
  padding: 10px;
  background-color: #bbb;
}

#query {
  width: 50%;
  height: 20%;
  margin: 0 2px;
}

.go-btn {
  width: 40px;
  height: 20px;
  border-radius: 10%;
  padding: 2px;
  border: 1px solid black
}

.go-btn:hover {
  background-color: #a7a7df;
  border: 1px solid black
}