.unauth-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bbb;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

button {
  width: 80px;
  height: 35px;
  padding: 5px;
  margin: 1px;
  border-radius: 15%;
}

button:hover {
  background-color: aqua;
  border: 2px solid black;
}