.news-row-container {
  width: 70%;
  height: 120px;
  border: 1px solid black;
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-title {
  font-family: 'Courier New', Courier, monospace;
}

.news-img {
  width: 200px;
}

.news-author, .news-source {
  margin: 6px 0;
}