.news-row-container {
  width: 70%;
  height: 120px;
  border: 1px solid black;
  margin: 3px;
  display: flex;
  flex-direction: row;
}

.news-title {
  font-family: 'Courier New', Courier, monospace;
}

.news-img {
  width: 200px;
}